# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master, test ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build --stacktrace > logs.txt 2>logErrors.txt

    - uses: actions/upload-artifact@v2
      name: Upload Lunala-JDA
      with:
        path: lunala-jda/build/libs/lunala-jda-1.0-SNAPSHOT.jar

    - uses: actions/upload-artifact@v2
      name: Upload Lunala-Modules
      with:
        path: lunala-modules/*/build/libs/*.jar


